.header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  &__inner {
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #505268;
  }
  &--fixed {
    position: fixed;
    background: #31344e;
    opacity: .95;
    height: auto;
  }
  &--fixed &__inner {
    border-bottom: none;
    padding: 10px 0;
  }
}
.nav {
  display: flex;
  &__link {
    margin-left: 50px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.75;
    transition: 0.1s opacity linear;

    &:hover {
      opacity: 1;
    }
  }
  &__link:first-child {
    margin-left: 0;
  }
}

.menu {
  display: none;
}

@media (max-width: 991px) {
  .nav {
      display: none;
    &__link {
      padding: 10px 15px;
    }
    &--show {
      position: absolute;
      top: 100%;
      right: 0;
      display: flex;
      flex-direction: column;
      background: #242741;
      width: 100%;
      text-align: right;

    }
  }
  .menu {
    display: block;
    background: none;
    border: none;
    outline: none;
    padding: 0;

    &__icon {
      opacity: 0.5;
      transition: opacity 0.1s linear;
      cursor: pointer;

      &__item {
        display: block;
        width: 30px;
        height: 4px;
        background: #fff;
        border-radius: 3px;
        margin-bottom: 5px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}